@keyframes fadeOut{
  0% {
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
  }
  // 50% {
  //   transform: translateY(0);
  //   opacity: 0.5;
  //   visibility: visibility;
  // }
  100% {
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
  }
}

.alert {
  visibility: hidden;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  animation: 8s ease-out 0s 1 fadeOut;
  pointer-events: none;
}
