
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You for registering <%= @email %> with RSSHub</h1>
    <p>
      Your E-mail has been used to make an account on <a href="https://rsshub.online">RSSHub</a> If you did not register on RSSHub, please ignore this email.
    </p>
    <p>
      Please Authenticate your account <a href="<%= @auth_url %>">by clicking here</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
