a {
  color: $link;
}

a:hover {
  text-decoration: none;
}

div.sticky {
  position: sticky;
  top: 0;
}

body {
  background-color: $background;
  color: $text;
}

@media (min-width: 996px) {
  .main {
    padding-top: 12px;
  }
}
