#episodes-title {
  h4 {
    margin: 0;
    padding: 0;
  }
  h5 {
    margin: 0;
    padding: 0;
  }

  opacity: 1;
  background-color: $panel-color;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-style: none none solid none;
  border-radius: 5px;
  padding: 0 2vw 7px 2vw;
}

#episodes {
  padding: 1.5vh 16px 0 2vw;
  background-color: $episodes-panel !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img {
    height: 64px;
  }
  background-color: white;
}

#episode-column {
  padding: 0;
}

@media (min-width: 996px) {
  #episode-column {
    padding: auto 15px;
  }
}

