#episodes-title {
  background: $light-gray;
  opacity: 1;
  border-style: none none solid none;
}

#episodes{
  padding-top: 0.95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img {
    height: 64px;
  }
  background-color: white;
}

