@media (min-width: 996px) {
  div#manage-shows {
    width: 17.5vw;
    min-height: 100vh;
    padding: 0 2vw;
    min-width: 300px;
  }

  div.stick-bottom {
    position: sticky;
    bottom: 0px;
    padding-bottom: 8px;  }

}

.show-div {
  display: flex;
  justify-content: space-between;
}

div.stick-top {
  position: sticky;
  top: 0;
}

#manage-shows {
  background-color: $panel-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#management-column {
  padding: 0;
}

.column-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
