<div id="episodes-title">
  <h4>Episodes</h4>
  <h5>
    <% if @show.title %> <%= @show.title %> <% else %>Your Feed<% end %>
    </h5>
</div>
<div id="episodes">
    <%= render @episodes %>
</div>
<div>Icons made by <a href="https://www.flaticon.com/authors/catkuro" title="catkuro">catkuro</a> from <a href="https://www.flaticon.com/"          title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0</a></div>
