<div id="episodes-title" class="sticky">
  <h4>Episodes</h4>
  <h5>
    <% if @show.title %> <%= @show.title %> <% else %>Your Feed<% end %>
    </h5>
</div>
<div id="episodes">
    <%= render @episodes %>
</div>
