<div class="subscription">
  <div class="icon-title">
    <% if show.show_img %>
      <%= image_tag show.show_img, class: "icon" %>
    <% end %>
    <%= show.title %>
  </div>
  <div><%= show.rss_url %></div>
</div>
