<% cache [@episodes, @shows] do %>
  <div class="primary-grid primary-container">
    <div class="header">
        Latest Episodes
    </div>
    <div class="logout-box">
        <%= link_to("Logout #{current_user.email}", destroy_user_session_path, method: :delete) %>
    </div>
    <div class="main">
      <%= render partial: 'episodes/episode', collection: @episodes, cached: true %>
    </div>
    <div class="sidebar">
      <%= render partial: 'shared/manage_shows', locals: {shows: @shows} %>
    </div>
    <div class="footer">
      <div>
        Icon made by <a href="https://www.flaticon.com/authors/catkuro" title="catkuro" target="_blank">catkuro</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0.</a>
      </div>
    </div>
  </div>


<% end %>
