<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-1">
      <%= render "shared/display_episodes" %>
    </div>


    <div class="col-sm-12 col-md-2 col-md-offset-1">
      <%= render "shared/manage_shows" %>
    </div>

  </div>
</div>

<%= javascript_pack_tag "resize_title" %>
