<%= link_to episode.url, class: "episode" do %>
  <p><%= episode.title %></p>
  <% if episode.show.show_img %>
    <%= image_tag episode.show.show_img, onerror: "this.onerror=null;this.src='images/mp3.svg';" %>
  <% else %>
    <%= image_tag 'mp3.svg' %>
  <% end %>
<% end %>
