<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center">Episodes</h4>
      <% 20.times do |iteration| %>
      <div class="episodes">
        <% episode = @episodes[iteration] %>
        <div class="episode">
          <%= link_to episode.title, episode.url %>
          <% if episode.episode_img %>
          <%= image_tag(episode.episode_img) %>
          <% else %>
          <%= image_tag(episode.show.show_img, style: "width: 64px") %>
          <% end %>
        </div>
      </div >
      <% end %>
    </div>
  </div>
</div>
