<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <%= render "shared/display_episodes" %>
    </div>


    <div class="col-sm-12 col-md-4">
      <%= render "shared/manage_shows" %>
    </div>

  </div>
</div>

<%= javascript_pack_tag "resize_title" %>
