@mixin flex($direction: row, $justify: space-around, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.title-management-box {
  @include flex($justify: space-between);
}


.sidebar-content{
  @include flex($direction: column, $justify: space-between);
}

.footer {
  @include flex($align: center);
}

.header, .logout-box {
  @include flex($direction: column);
}

.manage-show {
  @include flex($justify: space-between);
}

.manage-shows {
  @include flex($direction: column, $justify: space-between)
}

.alert, .alert-box, .subscriptions-title {
  @include flex;
}

.subscription {
  @include flex($justify: space-between);
}

.subscriptions {
  @include flex($direction: column);
}

.icon-title {
  @include flex($justify: space-between);
}
