.primary-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 40px 6fr 20px 1fr 20px 32px;
  grid-template-areas:
  "hd"
  "."
  "main"
  "."
  "sd"
  "."
  "ft";

  .email-box {
    display: none;
  }

  .logout-box {
    display: none;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 60px 1fr 40px 40px;
    grid-template-areas:
    "hd hd hd hd hd hd logout email"
    "main main main main main main sd sd"
    ".  .  .  .  .  .  .  ."
    "ft ft ft ft ft ft ft ft";

    .email-box {
      grid-area: email;
      place-self: center center;
      display: flex;

    }
    .logout-box {
      grid-area: logout;
      place-self: center center;
      display: flex;
    }
  }
}

.header {
  grid-area: hd;
  // grid-column-start: 2;
  // grid-column-end: 6;
  // grid-row-start: 1;
  // grid-row-end: 2;
  place-self: center center;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-flow: column;
  grid-row-gap: 1em;
  .episode-title-box {
    grid-column-start: 1;
    grid-column-end: 8;
    justify-self: left;
    align-self:center;
  }
  .show-icon-box {
    grid-column-start: 10;
    grid-column-end: 11;
    justify-self: center;
    align-self:center;
  }

  @media (min-width: 1200px) {
    .episode-title-box {
      grid-column-start: 2;
    }
    .show-icon-box {
      grid-column-start: 9;
      grid-column-end: 10;
    }
  }

}

.sidebar {
  grid-area: sd;
  align-self: center;
  @media (min-width: 1200px) {
    align-self: start;
  }
  .shows-grid {
    grid-row-gap: 0.5em;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-flow: column;
  }
  .show-show {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .show-delete {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.footer {
  grid-area: ft;
  place-self: center center;
}
