<div class="container">
  <div class="subscriptions-title">
    <h3>URLs for your subscriptions -- <a href="<%= subscriptions_path %>.csv">CSV</a></h2>
  </div>
  <%= render partial: "shared/subscription", collection: @shows, cached: true, as: :show %>
</div>
