<div class="container">
  <div class="urls-title">
    <h3>URLs for your subscriptions -- <a href="<%= csv_path %>">CSV</a></h2>
  </div>
  <%= render partial: "shared/url", collection: @shows, cached: true, as: :show %>
</div>
